#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #000000;
}

@keyframes pulse {
  from {
    filter: drop-shadow(0px 0px 0px #3da35a)
  }

  to {
    filter: drop-shadow(0px 0px 16px #3da35a)
  }
}

.claim {
  color: #008282
}

.libra {
  height: 24em;
  color: #06ffc9;
  padding: 1.5em;
  animation-name: pulse;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}